/* リンクボタン */
.link-area{
    text-align:center;
    margin-bottom:25px;
}

.main-link{
    display:inline-block;
    background:#4f7cff;
    color:white;
    padding:14px 22px;
    border-radius:12px;
    text-decoration:none;
    font-weight:bold;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    transition:0.2s;
}

.main-link:hover{
    background:#345fe0;
}